body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(214, 186, 137);
    text-align: center;
}

h1{
    background-color: rgb(233, 178, 163);
    padding: 10px;
}

ul{
    padding: 0;
    display: flex;
    flex-direction: column;
}

li{
    background-color:#e2cfae;
    margin: 5px;
    padding:10px;
    border-radius: 5px;
}